<h1 style = "position:absolute; TOP:23px; LEFT:184px; ">Editing Employee</h1>
<%= link_to 'Show', @employee, :style => "position:absolute; TOP:30px; LEFT:680px; ", :class => "btn btn-info"  %> 
<%= link_to 'Back', employees_path, :style => "position:absolute; TOP:30px; LEFT:600px; ", :class => "btn btn-info"  %>
<%= render 'form', employee: @employee %>


