<h1>New Employee</h1>
<%= link_to 'Back', employees_path, :style => "position:absolute; TOP:30px; LEFT:600px; ", :class => "btn btn-info" %>
<%= render 'form', employee: @employee %>

<!--<%= link_to 'Back', employees_path %>-->
