
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <ul class="navbar-nav">
  <a class="dropbtn hm" href="<%= home_path%>">Home</a>
  <a class="dropbtn hm" href="<%= about_path%>">About</a>
  <a class="dropbtn hm" href="<%= stores_path%>">Stores</a>
  <a class="dropbtn hm" href="<%= contact_path%>">Contact us</a>
  </ul>
</nav>
