<br>
<h1 style = "position:absolute; TOP:23px; LEFT:184px; ">Editing Storeflavor</h1>
<%= link_to 'Show', @storeflavor, :style => "position:absolute; TOP:30px; LEFT:680px; ", :class => "btn btn-info"  %> 
<%= link_to 'Back', storeflavors_path, :style => "position:absolute; TOP:30px; LEFT:600px; ", :class => "btn btn-info"  %>
<%= render 'form', storeflavor: @storeflavor %>


