<br>
<h1 style = "position:absolute; TOP:23px; LEFT:184px; ">New Storeflavor</h1>
<%= link_to 'Back', storeflavors_path, :style => "position:absolute; TOP:30px; LEFT:600px; ", :class => "btn btn-info" %>
<%= render 'form', storeflavor: @storeflavor %>


