<br>
<h1 style = "position:absolute; TOP:23px; LEFT:184px; ">New Shift</h1>
<%= link_to 'Back', shifts_path, :style => "position:absolute; TOP:30px; LEFT:600px; ", :class => "btn btn-info" %>

<%= render 'form', shift: @shift %>

